// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.dwp-key-details-bar {
background-color: #1d70b8;
color: #fff;
font-family: Arial, sans-serif;
}

.dwp-key-details-bar dt,
.dwp-key-details-bar dd {
border: none;
margin: 0;
padding: 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details {
margin: 0 auto;
max-width: 960px;
padding: 20px 30px;
position: relative;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__top-block::after,
.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block::after {
clear: both;
content: ' ';
display: block;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
border-top: 1px solid rgba(255, 255, 255, .3);
content: ' ';
padding-top: 10px;
margin-top: 6px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd,
.dwp-key-details-bar .dwp-key-details-bar__key-details dt {
float: left;
font-size: 19px;
margin-right: 5px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd {
margin-right: 20px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
font-size: 36px;
font-weight: 700;
line-height: 1.11111;
margin-right: 10px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
font-size: 24px;
line-height: 1;
margin-top: 12px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
font-size: 16px;
font-weight: 700;
line-height: 1.25;
padding: 5px 8px 0;
color: #005ea5;
background-color: #fff;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;
float: right;
margin: 5px 0 0;
}
.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status_mc {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.50;
  padding: 5px 8px 0;
  color: #ffff;
  background-color: #00703c;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
  }
.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status_lc {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.50;
  padding: 5px 8px 0;
  color: #ffff;
  background-color: #f47738;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
  }
.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status_nc {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.50;
    padding: 5px 8px 0;
    color: #ffffff;
    background-color: #d4351c;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 5px 0 0;
    }

@media (max-width: 40.0525em) {
.dwp-key-details-bar .dwp-key-details-bar__key-details {
padding: 20px 15px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
border: 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd,
.dwp-key-details-bar .dwp-key-details-bar__key-details dt {
float: none;
font-size: 16px;
margin: 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd {
margin-bottom: 20px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd:last-of-type {
margin-bottom: 20px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
font-size: 24px;
line-height: 1.04167;
float: left;
margin: 0 5px 0 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
font-size: 18px;
float: left;
margin: 5px 0 0 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
font-size: 14px;
float: left;
clear: both;
margin-top: 5px;
}
}



.dwp-timeline {
font-family: Arial, sans-serif;
border-left: 3px solid #1d70b8;
list-style-type: none;
padding: 0;
}

.dwp-timeline__entry {
margin: 2em 0;
padding-left: 1.125em;
position: relative;
top: -.6em;
}

.dwp-timeline__entry::before {
background-color: #1d70b8;
content: '';
height: 3px;
left: 0;
position: absolute;
top: .6em;
width: 10px;
}


.govuk-list--bullet {
    padding-left: 0px;
    list-style-type: none;
}


ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
}
ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #000000;
  color: white;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
ol ol li::before {
  background: darkorchid;
}
.govuk-list--bullet > li, .govuk-list--number > li {
    margin-bottom: 15px;
}
.govuk-tag--IDVStatusAmber {
    color: #f8f8f8;
    background: #ed7014;
}
.govuk-tag--IDVStatusRed {
    color: #f8f8f8;
    background: #d4351c;
}
.govuk-tag--IDVStatusGreen {
    color: #f8f8f8;
    background: #00703c;
}
