{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<link href="https://design-patterns.service.justice.gov.uk/assets/stylesheets/application.css"media="all" rel="stylesheet" type="text/css"/>

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<section class="dwp-key-details-bar" aria-label="Key details">
<dl class="dwp-key-details-bar__key-details">
    <div class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__name"> Jane Doe</dd>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-key-details-bar__nino">QQ 12 34 56 X</dd>
        <dt class="govuk-visually-hidden">Unacceptable behaviour:</dt>
        <dd class="dwp-key-details-bar__status_nc">Identity verification Status: No confidence</dd>
        <dt class="govuk-visually-hidden"> ID&amp;V Status:Low confidence:</dt>

    </div>
    <div class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>

        <dt>Address:</dt>
        <dd>14 Street address</dd>
        <dt>Postcode:</dt>
        <dd>L14 5GE</dd>
        <dt>Mobile:</dt>
        <dd>07771 900 900</dd>

    </div>
</dl>
</section>
<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  </div></div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <h1 class="govuk-heading-xl">IDV Result</h1> -->
  <div class="govuk-panel govuk-panel--confirmation" style="background:#d4351c">
     
<h1 class="govuk-panel__title">
  Unsuccessfully Verified

</h1>
<div class="govuk-panel__body">
  No Confidence
</div>
</div>
<p class="govuk-body">Calls presented as Red require further verification where the caller is the claimant.

</p>


  <!--  <div class="govuk-inset-text">
      <h2 class="govuk-heading-m"><strong>AUTHORISED FOR VOICE PRINT</strong></h2>
    </div> -->



<br>


    <div class="moj-banner moj-banner--warning" role="region" aria-label="Warning">

  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" />
  </svg>

  <div class="moj-banner__message"> <h1 class="govuk-heading-m"style="color:#d4351c;"> Not authorised for voice print</h1></div>

</div>

<h2 class="govuk-heading-m">What you should do next</h2>
<div class="govuk-!-padding-bottom-3"></div>
<ol class="govuk-list govuk-list">
 
  <li>Explain to the customer that you have not been able to verify<br> 
      their identity and you cannot continue with the call.</li>
  <li>Ask the customer to call back or write in with their request.</li>
<li>Do NOT disclose any personal information.</li>

</ol>
<div class="govuk-!-padding-bottom-3"></div>
    <button class="govuk-button" data-module="govuk-button">Exit and Close</button>
  </div>



<div class="govuk-grid-column-one-third">
  <h1 class="govuk-heading-m">Action history</h1>
  <span class="govuk-caption-m">Recorded </span>
  <p class="govuk-body govuk-!-margin-bottom-4">
    <div class="moj-timeline">
<div class="moj-timeline__item">

<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Searchlight</h2>



</div>



<div class="moj-timeline__description">

  <span class="moj-badge moj-badge--red">UnSuccessful</span>

</div>

</div>

<div class="moj-timeline__item">
   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">JSAPS</h2>

</div>



<div class="moj-timeline__description">

  <span class="moj-badge moj-badge--red">UnSuccessful</span>

</div>

</div>

<div class="moj-timeline__item">

   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">ESA history</h2>



</div>



<div class="moj-timeline__description">

  <span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>

<div class="moj-timeline__item">
   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Date of death</h2>

</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>

<div class="moj-timeline__item">
   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">ID at risk</h2>

</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>
</div>

{% endblock %}
