{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<link href="https://design-patterns.service.justice.gov.uk/assets/stylesheets/application.css"media="all" rel="stylesheet" type="text/css" />
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<section class="dwp-key-details-bar" aria-label="Key details">
<dl class="dwp-key-details-bar__key-details">
    <div class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__name"> Unavailable</dd>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-key-details-bar__nino"></dd>
        <dt class="govuk-visually-hidden">Unacceptable behaviour:</dt>
        <dd class="dwp-key-details-bar__status_nc">Identity verification Status: No confidence</dd>
        <dt class="govuk-visually-hidden"> ID&amp;V Status:Low confidence:</dt>
    </div>
    <div class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>Unavailable</dd>

        <dt>Address:</dt>
        <dd>Unavailable</dd>
        <dt>Postcode:</dt>
        <dd>Unavailable</dd>
        <dt>Mobile:</dt>
        <dd>Unavailable</dd>

    </div>
</dl>
</section>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#search"> customer information is not available here.<br> 

                Check Searchlight to confirm information.</a>
            </li>
    
          </ul>
        </div>
      </div>
    </div>
    <p class="govuk-body govuk-!-font-size-48">Claimant Confirmation
</p>
    <h1 class="govuk-heading-xl">Is the customer calling about their own claim?</h1>

    <form class="form" action="/customer-answer1_2" method="post">

              
                  <form class="form" action="/customer-answer1_2" method="post">

                            <br>
                            <form>
                    
                      <div class="govuk-form-group">
                      {{ govukRadios({
                      idPrefix: "customer_answer1_2",
                      name: "customer_answer1_2",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--l"
                        }
                      },
                      items: [
                        {
                          value: "Yes",
                          text: "Yes, customer is the claimant"
                        },
                        {
                          value: "No",
                          text: "No, customer is calling on behalf of others"
                        }
                      ]
                    }) }}
                    </div>
                    <div class="govuk-button-group">
                      <button class="govuk-button govuk-!govuk-\!-margin-top-6" data-module="govuk-button">
                        Confirm and continue
                      </button>
                      <button class="govuk-button govuk-button--secondary govuk-!govuk-\!-margin-top-6" data-module="govuk-button">
                        Cancel
                      </button>
                    </div>
                          
                          </form>
                               


<!--
                  <div class="govuk-radios">
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="close-cases1" name="close-cases" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="close-cases1">
                            Yes, Caller is the claimant
                          </label>
                      </div>

                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="close-cases2" name="close-cases" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="close-cases2">
                              No, Caller is calling on behalf of others
                          </label>
                      </div>
                  </div>


                    <button class="govuk-button govuk-!-margin-top-8" data-module="govuk-button">
                      Continue
                    </button>

                    <button class="govuk-button govuk-button--secondary govuk-!-margin-top-8" data-module="govuk-button">
                      Cancel
                    </button> -->
        </div>
          </div>

        </main>
    <!--</div>-->


{% endblock %}
