{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-notification-banner" style="margin-bottom:25px;" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">

 <div class="govuk-phase-banner" style="padding-bottom:0px;">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p>

      <span class="govuk-phase-banner__text" style="color:white;font-size:1.8em; font-weight:bold;">
        Jane Doe
      </span>
      <span class="govuk-phase-banner__text" style="color:white; font-size:1.2em; padding:10px 0px 0px 10px;">
        QQ 12 34 56 C
      </span>

    </p>
  </div>
  <!--<div class="govuk-grid-column-one-quarter" style="padding-top:10px; text-align: right;">
    <p><strong class="govuk-tag--orange">
      LOW CONFIDENCE
    </strong></p>
  </div> -->
</div>
</div>
  </div>
  </div>

{% endblock %}
Hello
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

    <!--  <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Help direct callers only</li>
        <li>This service is not for appointee verification. Follow operational instructions for Appointee verification/Alternative Enquiry.</li>

      </ul>  -->



      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      <form name='form' method="post" autocomplete="off" novalidate="false">

      <!--  <ul class="govuk-list govuk-list--bullet">

          <li>This service is not for appointee verification. Please follow guidelines for Appointee verification or alternative enquiries.</li>
        </ul> -->
        {{ govukCheckboxes({
        idPrefix: "callerType",
        name: "callerType",

        items: [
        {
        value: "on-behalf-of-self",
        text: "The caller is calling on behalf of themselves."
        }
        ],
        errorMessage: {
        text: errormsg
        } if errormsg
        }) }}

        {{ govukButton({
        text: "Start now",
        isStartButton: true
        }) }}
      </form>


    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Please note
        </h2>
        <div class="govuk-inset-text">


          This service is not for appointee verification. <br><br/>Please follow guidelines for Appointee verification or alternative enquiries.<br/>

        <br>
          <div class="govuk-button-group">


            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Exit and close
        </button>
          </div>

          <p>&nbsp;</p>


        </div>

      </aside>

    </div>

  </div>
{% endblock %}
