{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<link href="https://design-patterns.service.justice.gov.uk/assets/stylesheets/application.css"media="all" rel="stylesheet" type="text/css"/>

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<section class="dwp-key-details-bar" aria-label="Key details">
<dl class="dwp-key-details-bar__key-details">
    <div class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__name"> Jane Doe</dd>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-key-details-bar__nino">QQ 12 34 56 X</dd>
        <dt class="govuk-visually-hidden">Unacceptable behaviour:</dt>
        <dd class="dwp-key-details-bar__status_mc">Identity verification Status: Medium confidence</dd>
        <dt class="govuk-visually-hidden"> ID&amp;V Status:Low confidence:</dt>

    </div>
    <div class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>

        <dt>Address:</dt>
        <dd>14 Street address</dd>
        <dt>Postcode:</dt>
        <dd>L14 5GE</dd>
        <dt>Mobile:</dt>
        <dd>07771 900 900</dd>

    </div>
</dl>
</section>
<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  </div></div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <h1 class="govuk-heading-xl">IDV Result</h1> -->
  <div class="govuk-panel govuk-panel--confirmation">
<h1 class="govuk-panel__title">
  Successfuly Verified
</h1>
<div class="govuk-panel__body">
  Medium Confidence
</div>
</div>
<p class="govuk-body">Calls presented as GREEN require no further verification where
the caller is the claimant.</p>


  <!--  <div class="govuk-inset-text">
      <h2 class="govuk-heading-m"><strong>AUTHORISED FOR VOICE PRINT</strong></h2>
    </div> -->



<br>

<div class="moj-banner moj-banner--success" role="region" aria-label="Success">

  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
  </svg>

  <div class="moj-banner__message"> </div><h1 class="govuk-heading-m"style="color:#00703c;"> Authorised for voice print  
  </h1></div>

<h2 class="govuk-heading-m">What you should do next</h2>
<div class="govuk-!-padding-bottom-3"></div>
<ol class="govuk-list govuk-list">
  <li>Check current address and contact details are up to date.</li>
  <li>Assist the customer with their enquiry.</li>
  <li>Assist the customer with Voice enrolment.</li>
</ol>
<div class="govuk-!-padding-bottom-3"></div>
<div class="moj-button-menu">
  <div class="moj-button-menu__wrapper">

    <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
      Continue 
    </a>

    <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
      Exit and Close
    </a>
   
  </div>
</div>
</div>

<div class="govuk-grid-column-one-third">
  <h1 class="govuk-heading-m">Action history</h1>
  <span class="govuk-caption-m">Recorded </span>
  <p class="govuk-body govuk-!-margin-bottom-4">
    <div class="moj-timeline">
<div class="moj-timeline__item">

<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Searchlight</h2>


</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>

<div class="moj-timeline__item">
   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">JSAPS</h2>

</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>

<div class="moj-timeline__item">

   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">ESA history</h2>



</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>

<div class="moj-timeline__item">
   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Date of death</h2>

</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>

</div>

<div class="moj-timeline__item">
   <div class="moj-timeline__header">
  <h2 class="moj-timeline__title">
ID at risk</h2>

</div>



<div class="moj-timeline__description">

<span class="moj-badge moj-badge--green">Successful</span>

</div>


{% endblock %}
